<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1065925174587-10422rmgve3eefe881etk8kdbhvevf62.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1065925174587-10422rmgve3eefe881etk8kdbhvevf62</string>
	<key>API_KEY</key>
	<string>AIzaSyAbnUmTz5x-jOYtLot4QUvEPn-OsI4ciNw</string>
	<key>GCM_SENDER_ID</key>
	<string>1065925174587</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>br.com.alura.bybebank2</string>
	<key>PROJECT_ID</key>
	<string>botteste-bkim</string>
	<key>STORAGE_BUCKET</key>
	<string>botteste-bkim.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1065925174587:ios:5d5d052959c4773c58831e</string>
	<key>DATABASE_URL</key>
	<string>https://botteste-bkim-default-rtdb.firebaseio.com</string>
</dict>
</plist>